/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    min-height: 100vh;
    flex-direction: column;
    color: #000;
    }

.modal{
    padding: 2em 2em 2em 2em;
    color: blue;
    width: 30%;
}

.main {
    flex: 1 0 auto;
}

.first{
    background-image: url('/images/image2.jpeg');
    background-size: 120%;
    height: 40em;
    color: black;
    padding-top: 5em;
}

/*.second{
    background-image: url('/images/image1.jpeg');
    background-size: 120%;
    height: 35em;
    color: #FFF;
    padding-top: 5em;
}
*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

#mapholder {
    margin-top: 2em;
}

/*
.waves-effect.waves-blue .waves-ripple {
      background-color: rgba(41, 182, 246, 1.0);
}
*/

textarea{
        height: auto;
        resize: none;
        font-size: 1.3em;
}

footer.page-footer{
    background-color: DarkSalmon;
    height: 4em;
    margin-top: 0;
    color: #FFF;
}

nav div{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.card{
    padding: 1em 1em 1em 1em;
}

#maph {
height: 60%;
width: 50%;
}

.controls {
background-color: #fff;
border-radius: 2px;
border: 1px solid transparent;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
box-sizing: border-box;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
height: 29px;
margin-left: 17px;
margin-top: 10px;
outline: none;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
}

.controls:focus {
border-color: #4d90fe;
}